* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0b1120;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

#main-popular {
    padding: 20px;
    margin: 10px;
    width: 100%;
}

#main-popular h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.3rem;
    color: #ff6347;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#main-popular > div {
    width: 90%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}

#main-popular > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

#main-popular > div > div:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

#main-popular > div div img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

#main-popular > div div > p {
    font-size: 1rem;
    text-align: center;
}

#main-popular > div > div > h3 {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

#main-popular p i {
    color: #edff4c;
}

